@import 'nativescript-theme-core/css/core.light.css';

TextField {
    border-bottom-width: 1px;
    border-color: silver;
    height: 90px;
}

.android TextField {
    height: 125px;
}

TextView {
    border-bottom-width: 1px;
    border-color: silver;
    height: 300px;
}

ActionBar {
    background-color: #2196f3;
    color: white;
}
